apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: dashboard-dev
  labels:
    app: dashboard-backend
    environment: development
    add-external-df-volume: "true"
    add-user-info-config: "true"
  annotations:
    hpe-ezua/add-auth-token: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dashboard-backend
  template:
    metadata:
      labels:
        app: dashboard-backend
    spec:
      serviceAccountName: backend-serviceaccount
      containers:
        - name: backend
          image: erdincka/dashboard-backend-dev
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
              name: http
          env:
            - name: LOG_LEVEL
              value: "DEBUG"
            - name: CORS_ORIGINS
              value: '["http://localhost:3000"]'
            - name: REDIS_HOST
              value: "redis"
            - name: REDIS_PORT
              value: "6379"
            - name: K8S_IN_CLUSTER
              value: "true"
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              memory: "512Mi"
              cpu: "512m"
            limits:
              memory: "1Gi"
              cpu: "1024m"
