apiVersion: ezconfig.hpe.ezaf.com/v1alpha1
kind: EzAppConfig
metadata:
  name: ezappconfig-{{ appName }}
  annotations:
    hpe-ezua/cleanup-chart-on-delete: "true"
    hpe-ezua/minimal-cpu-request: "2"
    hpe-ezua/minimal-mem-request: 4G
    hpe-ezua/minimal-cpu-per-node-request: 1000m
    hpe-ezua/minimal-mem-per-node-request: 2G
    hpe-ezua/minimal-nodes-request: "1"
    hpe-ezua/minimal-request-skip-validation: "false"
  labels:
    hpe-ezua/imported-app: "true"
spec:
  name: {{ appName }}
  install: true
  chartVersion: 0.0.2
  version: v0.0.1
  description: User Dashboard
  label: User Apps
  logoImage: ""
  category: dataScience
  backoffLimit: 2
  retry: false
  options:
    namespace: ezapp-user
    create-namespace: "true"
    wait: "true"
    timeout: 15m
    debug: "true"
  values: |
    nameOverride: ""
    fullnameOverride: ""
    #Platform options
    ezua:
      oidc:
        client_id: "${OIDC_CLIENT_ID}"
        client_secret: "${OIDC_CLIENT_SECRET}"
        domain: "${OIDC_DOMAIN}"
      domainName: "${DOMAIN_NAME}"
      virtualService:
        endpoint: "${RELEASE_NAME}-${NAMESPACE}.${DOMAIN_NAME}"
        istioGateway: "istio-system/ezaf-gateway"
      authorizationPolicy:
        namespace: "istio-system"
        providerName: "oauth2-proxy"
        matchLabels:
          istio: "ingressgateway"
    image: {{ appImage }}
    imagePullPolicy: IfNotPresent
    imagePullSecrets: []
    service:
      type: ClusterIP
      port: {{ appPort }}
      targetPort: {{ appPort }}
      name: http
    volumes: {}
    VolumeMounts: {}
    command: [] # Override entrypoint
    env: {}
    airgap:
      registry:
        url: "${AIRGAP_REGISTRY}"
    serviceAccount:
      create: true
      annotations: {}
      name: ""
    podAnnotations:
      hpe-ezua/add-auth-token: 'true'
    podLabels: {}
    podSecurityContext: {}
    securityContext:
      runAsNonRoot: false
      runAsUser: 0
    ingress:
      enabled: false
    resources:
      limits:
        cpu: 2000m
        memory: 4Gi
      requests:
        cpu: 1000m
        memory: 2Gi
    replicaCount: 1
    autoscaling:
      enabled: false
    nodeSelector: {}
    tolerations: []
    affinity: {}
