apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: dashboard-dev
  labels:
    app: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379
              name: redis
          args:
            - --maxmemory
            - "256mb"
            - --maxmemory-policy
            - allkeys-lru
          resources:
            limits:
              memory: "512Mi"
              cpu: "512m"
            requests:
              memory: "256Mi"
              cpu: "256m"
          livenessProbe:
            exec:
              command:
                - redis-cli
                - ping
            initialDelaySeconds: 5
            periodSeconds: 5
          readinessProbe:
            exec:
              command:
                - redis-cli
                - ping
            initialDelaySeconds: 5
            periodSeconds: 5
