apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: dashboard-dev
  labels:
    app: dashboard-frontend
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: dashboard-frontend
