# For a single endpoint app

#Platform options
ezua:
  domainName: "${DOMAIN_NAME}"

  virtualService:
    endpoint: "kubik.${DOMAIN_NAME}"
    istioGateway: "istio-system/ezaf-gateway"

imagePullPolicy: Always # IfNotPresent

airgap:
  registry:
    url: "" # ${AIRGAP_REGISTRY}

frontend:
  image: "erdincka/kubik-frontend:latest"

backend:
  image: "erdincka/kubik-backend:latest"

  # Ezua Auth Token is mounted to /etc/secrets/ezua/.auth_token automatically
  # AUTH_TOKEN env var can be optional override

redis:
  enabled: true
  image: "redis:7-alpine"
  # Or use persistence settings
