# For a single endpoint app

#Platform options
ezua:
  oidc:
    client_id: "${OIDC_CLIENT_ID}"
    client_secret: "${OIDC_CLIENT_SECRET}"
    domain: "${OIDC_DOMAIN}"

  domainName: "${DOMAIN_NAME}"

  virtualService:
    endpoint: "kubik.${DOMAIN_NAME}"
    istioGateway: "istio-system/ezaf-gateway"

  authorizationPolicy:
    namespace: "istio-system"
    providerName: "oauth2-proxy"
    matchLabels:
      istio: "ingressgateway"

imagePullPolicy: Always # IfNotPresent

airgap:
  registry:
    url: "" # ${AIRGAP_REGISTRY}

frontend:
  image: "erdincka/dashboard-frontend:latest"

backend:
  image: "erdincka/dashboard-backend:latest"
  # env:
  #   CORS_ORIGINS: '["https://dash.${DOMAIN_NAME}"]' # Restrict for Prod
  # Ezua Auth Token is mounted to /etc/secrets/ezua/.auth_token automatically
  # AUTH_TOKEN env var can be optional override

redis:
  enabled: true
  image: "redis:7-alpine"
  # Or use persistence settings
